.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  height: 4.5rem;

  &__box-button {
    display: flex;
    justify-content: space-between;
    width: 40rem;
  }

  &__box-button button {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #005bd5;
    width: 9.3rem;
    height: 2rem;
    cursor: pointer;
  }

  &__box-button button:hover {
    background: #005bd5;
    border-radius: 0.9rem;
    color: #fff;
  }
}
