.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 4.5rem;

  &__menu-mobile {
    display: none;

    @media (max-width: 850px) {
      display: flex;
    }

    img {
      width: 2rem;
      cursor: pointer;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 40%;

    @media (max-width: 850px) {
      display: none;
    }
  }

  &__menu button {
    background: none;
    border: none;
    font-size: 0.75rem;
    color: #005bd5;
    width: 9.3rem;
    height: 2rem;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 0.9rem;
  }

  &__menu button:hover {
    background: #005bd5;
    color: #fff;
  }

  &__menu button:last-child {
    letter-spacing: 0.188rem;
  }
}
