.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #005bd5;

  &__box-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem;

    h2 {
      font-size: 2.1rem;
      color: #fff;
      text-align: center;
      margin-bottom: 2rem;
    }

    input {
      width: 20.875rem;
      height: 1.938rem;
      border-radius: 1rem;
      border: none;
      padding: 1rem;
      margin: 0.5rem;

      @media (max-width: 400px) {
        width: 100%;
      }
    }

    textarea {
      width: 20.875rem;
      height: 4.25rem;
      border-radius: 1rem;
      border: none;
      padding: 1rem;
      margin: 0.5rem;

      @media (max-width: 400px) {
        width: 100%;
      }
    }

    button {
      width: 5.875rem;
      height: 1.813rem;
      text-align: center;
      letter-spacing: 3px;
      color: #fff;
      background: transparent;
      border-radius: 0.938rem;
      border: 1px solid #fff;
      margin-top: 1rem;
      cursor: pointer;
    }
  }
}
