.container {
  display: flex;
  flex-wrap: wrap;

  img {
    width: 50%;
  }

  &__box1 {
    background: transparent linear-gradient(180deg, #005bd5 0%, #002e6b 100%) 0%
      0% no-repeat padding-box;
    width: 50%;
    padding: 3rem;

    h2 {
      color: #fff;
      font-weight: bold;
      font-size: 2.3rem;
      width: 19rem;
    }

    p {
      color: #fff;
      width: 24rem;
      margin: 1rem 0;
    }

    button {
      background: transparent;
      text-transform: uppercase;
      border: solid 0.06rem #fff;
      border-radius: 0.9rem;
      font-size: 0.6rem;
      letter-spacing: 0.2rem;
      color: #fff;
      width: 9.3rem;
      height: 2rem;
      cursor: pointer;
      margin-top: 1rem;
    }
  }

  &__box2 {
    background: #fff;
    width: 50%;
    padding: 3rem;

    h2 {
      color: #005bd5;
      font-weight: bold;
      font-size: 2.3rem;
      width: 19rem;
    }

    p {
      color: #005bd5;
      width: 24rem;
      margin: 1rem 0;
    }

    button {
      background: transparent;
      text-transform: uppercase;
      border: solid 0.06rem#005BD5;
      border-radius: 0.9rem;
      font-size: 0.6rem;
      letter-spacing: 0.2rem;
      color: #005bd5;
      width: 9.3rem;
      height: 2rem;
      cursor: pointer;
      margin-top: 1rem;
    }
  }

  &__box-line {
    display: flex;
    align-items: center;

    p {
      letter-spacing: 0.2rem;
      margin-left: 1rem;
      color: #fff;
      font-size: 0.7rem;
    }
  }
  &__line {
    width: 3rem;
    height: 0.06rem;
    background: #fff;
    display: block;
  }
}
