.container {
  &__box-img {
    width: 100vw;
    height: 80vh;
    background-image: url(../../assets/img/kombi.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__box-search {
    padding: 14rem 0 0 4rem;
    width: 22rem;
  }

  &__paragraph {
    font-size: 2.1rem;
    font-weight: bold;
    color: #005bd5;
  }

  &__input {
    margin: 2rem 0;
    width: 14rem;
    height: 1.5rem;
    border-radius: 1.25rem;
    border: none;
    padding: 1.2rem;
  }

  &__button {
    background: #005bd5;
    border: none;
    border-radius: 0.9rem;
    font-size: 1.2rem;
    color: #fff;
    width: 9.3rem;
    height: 2rem;
    cursor: pointer;
  }
}
