.container {
  &__box-img {
    width: 100%;
    height: 23rem;
    background-image: url(../../assets/img/kombi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__box-search {
    padding: 4% 0 0 4%;
    width: 22rem;

    @media (max-width: 350px) {
      width: 100%;
      padding: 8% 0 0 8%;
    }
  }

  &__paragraph {
    font-size: 2.1rem;
    font-weight: bold;
    color: #005bd5;

    @media (max-width: 350px) {
      font-size: 1rem;
    }
  }

  &__input {
    margin: 2rem 0;
    width: 14rem;
    height: 1.5rem;
    border-radius: 1.25rem;
    border: none;
    padding: 1.2rem;
  }

  &__button {
    background: #005bd5;
    text-transform: uppercase;
    border: none;
    border-radius: 0.9rem;
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
    color: #fff;
    width: 9.3rem;
    height: 2rem;
    cursor: pointer;
  }
}
