.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem;

  &__box-text {
    color: #8b8b8b;

    p {
      text-align: center;
      font-size: 0.9rem;
    }

    h2 {
      text-align: center;
      width: 16.6rem;
      font-size: 2rem;
    }
  }

  &__box-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img {
      margin: 1rem;
    }
  }

  &__box-cards {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;

    @media (max-width: 950px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__card-gray {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8.7rem;
    height: 10.3rem;
    background: #eeeeee;
    color: #005bd5;
    margin: 1rem;

    p {
      text-align: center;
      font-weight: bold;
      margin: 1rem;
      width: 6.25rem;
    }
  }

  &__card-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8.7rem;
    height: 10.3rem;
    background: #005bd5;
    color: #fff;
    margin: 1rem;

    p {
      text-align: center;
      font-weight: bold;
      margin: 1rem;
      width: 6.25rem;
    }
  }
}
