.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  color: #005bd5;
  line-height: 1.5;
  flex-wrap: wrap;

  @media (max-width: 400px) {
    justify-content: center;
  }

  div {
    margin: 1rem;

    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  h2 {
    font-size: 0.938rem;
  }

  p {
    font-size: 0.75rem;
    font-weight: 600;
  }
}
